{% extends "base.html" %}

{% block title %}Produit{% endblock %}

{% block body %}

<div class="content-wrapper single-article mt-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-sm-12">
                <div class="preview-article">
                    {% if article.picture is  null %}
                    <img src="/storage/default.jpg"/>

                    {% else %}

                    <img src="{{ ('/storage/' ~ article.picture) }}"/>

                    {% endif %}

                </div>
                <h1><a href="#">{{article.name}}</a></h1>


                <div class="author">
                    <div class="author-head">
                        <div class="sv-name">
                            <div><a href="#">{{ article.username }}</a></div>
                        </div>
                    </div>

                    <div class="author-border"></div>
                    <div class="sv-views">
                        <div class="sv-views-count">
                            {{ article.views }} vues
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="info">
                    <div class="info-content">
                        <h4>Description:</h4>
                        <p>{{article.description}}</p>
                    </div>
                    <br>
                    <br>
                    <div class="u-area mt-small">

                        {% if (resultSendMail is empty) or (resultSendMail starts with 'Erreur' ) %}
                        <h3 style="color:Red;">
                            {{resultSendMail}}
                        </h3>
                        <form name="envoie_email" action="" method="post">
                            <label for="messageMailContact"> Écrivez un Email à {{article.username}} </label>
                            <textarea id="messageMailContact" name="messageMailContact"></textarea>
                            <input type="hidden" name="adresseMailContact" value="{{article.email}}">
                            <button name="submit"  class="btn btn-primary u-btn">Contacter {{article
                                .username}}</button>
                        </form>
                        {% else %}
                        <h3 style="color:dodgerblue;">
                            {{resultSendMail}}
                        </h3>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            </div>

            <!-- right column -->
            <div class="col-lg-4 col-xs-12 col-sm-12 hidden-xs">
                <p>Vous aimerez peut-être...</p>
                <div class="list">
                    <div class="h-article row">
                        {% for suggestion in suggestions %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="v-desc">
                                <a href="{{ ('/product/' ~ suggestion.id) }}">{{suggestion.name}}</a>
                            </div>

                            <div class="v-views">
                                {{ suggestion.views}} vues
                            </div>

                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
