{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
  <div class="row">
    <div class="login-wraper">

      <div class="login-window">
        <div class="l-head " style="margin-top: 80px">
          Récupération de mot de passe
        </div>
        <div class="l-form">
          <!--                    Affiche le message d'erreur s'il y a une erreur-->
          {% if messageErreur is not empty %}
          <span style="color: red">
            {{ messageErreur }}
            <br><br>
          </span>
          {% endif %}

          {% if messageSucces is not empty %}
          <span style="color: dodgerblue">
            {{ messageSucces }}
            <br><br>
          </span>
          {% endif %}

          <form action="/passwordrecovery" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                     placeholder="sample@gmail.com" value="{{ emailValue }}">
            </div>

            <div class="row">
              <div class="col-lg-7"><button type="submit" name="submit" class="btn btn-cv1">Récupération
              </button></div>
              <div class="hidden-xs">
                <div class="col-lg-1 ortext">ou</div>
                <div class="col-lg-4 signuptext"><a href="/login">Connexion</a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
